In [4]:
import pandas as pd
import numpy as np
%matplotlib inline

pd.set_option('display.max_colwidth', 500)

In [2]:
train = pd.read_csv('../data/train.csv', index_col='Id')

$$x_t = c$$

In [4]:
# NDifferentValues == 1

$$x_{t+1} = x_t.append(y)$$

In [3]:
train.loc[226549, 'Sequence']

'2,23,233,2333,23333'

In [14]:
train.sample(4)

                                                                                                                                                                                                                                                                                                                     Sequence
Id
222826                                                                                                                1,0,2,1,6,5,1,2,4,7,5,3,1,9,8,1,3,6,6,4,1,1,0,2,8,1,9,2,6,0,7,3,2,3,8,6,9,7,5,6,2,2,1,5,9,2,8,9,1,5,3,6,5,4,0,3,5,5,9,0,7,1,1,5,6,7,3,3,6,9,3,8,8,9,7,8,0,9,7,5,9,5,5,1,3,0,3,6,2,4,6,5,5,8,8,9,5,0,4,4
38778   1,3,10,34,118,417,1497,5448,20063,74649,280252,1060439,4040413,15488981,59701236,231236830,899559100,3513314664,13770811198,54152480421,213585706927,844723104691,3349274471386,13310603555085,53012829376985,211560158583657,845856494229348,3387782725245302,13590698721293800,54604853170818121,219706932640295523
85932                                                                                                               1,1,2,5,5,7,28,42,42,165,132,429,1001,1001,1430,6188,4862,25194,41990,58786,58786,245157,653752,742900,1931540,4345965,2674440,17298645,9694845,29464725,94287120,129644790,927983760,811985790,477638700
15539                                                                                      1,-2,3,-2,-6,28,-61,54,158,-860,2062,-2004,-5804,33720,-84509,86054,247862,-1492908,3838298,-4019452,-11537556,71101832,-185868978,198310460,567902572,-3555617432,9404104764,-10168382696,-29069700056,184127171952,-491229517661